<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Royal House Login</title>
	<link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../static/css/nunito-font.css">
	<link rel="stylesheet" href="../../static/css/style.css"/>
</head>
<body class="form-v6">
<main>
		<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="../../static/images/1.jpg" width="350" height="550" alt="form">
			</div>
			<form class="form-detail" action="" method="post">
				{{ form.hidden_tag() }}
      				<h2>Login form</h2>
				<div class="form-row">
					<!-- {{ form.email.label(class="form-control-label") }} -->
					{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
						{{ form.email(class="input-text", placeholder="Email Address") }}
					{% endif %}
		  <!-- <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email Address"
						required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
				</div>
				<div class="form-row">
					<!-- {{ form.password.label(class="form-control-label") }} -->
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="input-text", placeholder="Password") }}
					{% endif %}
				</div>
				{{ form.submit(class="Login") }}
		</div>
		</form>
	</div>
	</div>
</main>
</body>
</html>